.heroInfo {
  background: #f2f2f2;
  flex: 1;
  width: 100%;
  min-height: 480px;
  display: flex;
  justify-content: center;
}

.content {
  justify-content: flex-start;
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 2em;
  flex: 1;
  max-width: 1024px;
}

.content .imageContainer {
  position: relative;
}

.public {
  position: absolute;
  width: 100%;
}

.private {
  position: absolute;
  width: 100%;
  margin-left: calc(-10%);
  margin-top: calc(15%);
}

@media screen and (min-width: 768px) {
  .content article {
    padding-right: 2em;
    flex: 1;
  }

  .content .imageContainer {
    flex: 1;
    height: 240px;
    padding: 0 2em;
  }
}
