html,
body {
  padding: 0;
  margin: 0;
  font-family: Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
    Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.info-box {
  width: 320px;
  padding: 10px;
}

.alert {
  background-color: #fff3cd;
  padding: 10px;
}

.show-print {
  display: none;
}

.keyContainer {
  padding: 20px;
}

.area {
  border-color: red;
  background-color: rgba(200, 20, 18, 0.3);
  text-align: center;
  position: relative;
  padding: 10px;
}

.area:hover {
  border-color: rgb(0, 128, 0);
  background-color: rgba(0, 128, 0, 0.3);
}

.area.locked {
  border-color: grey;
  background-color: rgba(128, 128, 128, 0.3);
}

.content {
  padding: 0 2em;
  border-bottom: 1px solid black;
  width: 100%;
  justify-content: center;
  display: flex;
  max-width: 1024px;
}

@page {
  size: A4;
}

@media print {
  @page :footer {
    display: none;
  }

  .hide-print {
    display: none;
  }
  .show-print {
    display: block;
  }

  @page :header {
    display: none;
  }
}

.content-container {
  display: flex;
}

@media screen and (max-width: 480px) {
  .keyContainer {
    display: block;
  }
  .content-container {
    display: block;
  }
}
